@import url(./fons.css);
@import url(./reset.css);

:root {
  font-family: "UltramonoWide", sans-serif;
  color: var(--color-white);
  font-size: 8.56px;
  font-weight: normal;
  overflow: auto;

  --color-bg: #1c1f24;
  --color-white: #ffffff;
  --color-primary: #ff5a30;
  --color-menu: #34353a;
  --color-success: #03cea4;
  --color-warning: #ffd370;
  --color-warning-black: #ffbe2d;
  --color-gray: #5e5e5e;
  --color-gray-text: #9d9d9d;
  --color-card: #41454b;

  --border-color: #413160;
  --border-8px: 8.58px;
}

body {
  overflow: hidden;
  background: url("/public/images/backgraund.png");
  background-position: 56% 40%;
}

a {
  font-family: "Inter", sans-serif;
  border-radius: var(--border-8px);
  padding: 7px;
  gap: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  font-size: 12px;
  color: var(--color-white);
  & img {
    width: 28px;
    height: 28px;
  }
}

a.active > span {
  color: #c1a130;
}

img {
  width: 100%;
}

input {
  background-color: transparent;
  border: none;
  color: var(--color-white);
}

