.wrapper {
  padding: 0px 10px;
  margin-bottom: 32px;
  & .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }
  & .line {
    position: relative;
    font-family: "Involve", sans-serif;
    height: 10px;
    margin-left: 5px;
    border-radius: var(--border-8px);
    background-color: transparent;
    border: 1px solid #413160;
    height: 17px;
    width: 100%;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 15px;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
    & img {
      width: 35px;
      position: absolute;
      left: -7px;
      bottom: -2px;
      z-index: 1;
    }
    & p {
      position: absolute;
      top: -20px;
      right: 0;
      color: var(--color-gray-text);
      font-size: 10px;
      font-weight: bold;
      & span {
        color: var(--color-white);
      }
    }
    & div {
      position: absolute;
      inset: 0;
      top: -1px;
      bottom: -1px;
      width: 80%;
      border-radius: var(--border-8px);
      background: rgb(44, 255, 150);
      background: linear-gradient(
        90deg,
        rgba(44, 255, 150, 1) 0%,
        rgba(22, 197, 248, 1) 27%,
        rgba(109, 94, 233, 1) 60%,
        rgba(255, 61, 0, 1) 100%
      );
    }
  }
}
