.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0px 0px 25px;
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "UltramonoWide", sans-serif;
    font-size: 14.83px;
    color: #fff;
    border-radius: 15px;
  }
  & button:nth-child(1) {
    width: 155px;
    min-height: 34px;
  }
  & button:nth-child(2) {
    padding: 10px;
  }
}
