.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  margin-bottom: 20px;
  gap: 51px;

  & .button {
    font-size: 10px;
    width: 100%;
    max-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 0px;

    & img {
      width: 14px;
      height: 14px;
    }

    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 7.34px;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
  }
}
.wrapper-modal-bottom {
  position: relative;
  padding: 23px;
  font-family: "Involve", sans-serif;
  margin-bottom: auto;
  margin-bottom: 88px;

  & h2 {
    margin-left: 37px;
    margin-bottom: 17px;
    font-size: 17;
    font-weight: 400;
  }
  & .heandel {
    padding: 15px 13px;
    position: relative;
    border-top: 1px solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(48, 104, 208, 1) 0%,
      rgba(131, 107, 175, 1) 50%,
      rgba(151, 130, 98, 1) 100%
    );
    border-image-slice: 1;
    & .level {
      position: absolute;
      top: 15px;
      left: 0;
    }
    & .title {
      font-size: 18px;
      display: block;
      text-align: center;
      margin-bottom: 13px;
    }
    & button {
      display: flex;
      align-items: center;
      padding: 9px 17px;
      gap: 11px;
      border-radius: 15px;
      border: none;
      color: #fff;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      &:active {
        transform: scale(1.05);
      }
      & img {
        width: 20px;
        height: 20px;
      }
      & span {
        font-size: 10px;
      }
    }
    & .close {
      font-size: 15px;
      display: block;
      text-align: center;
    }
  }
  & .heandel-two {
    padding: 15px 13px;
    position: relative;
    border-top: 1px solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(48, 104, 208, 1) 0%,
      rgba(131, 107, 175, 1) 50%,
      rgba(151, 130, 98, 1) 100%
    );
    border-image-slice: 1;
    & .level {
      position: absolute;
      top: 15px;
      left: 0;
    }
    & .title {
      font-size: 18px;
      display: block;
      text-align: center;
      margin-bottom: 13px;
    }
    & img {
      width: 20px;
      height: 20px;
    }
    & span {
      font-size: 10px;
    }
    & button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding: 9px 17px;
      height: 42px;
      gap: 11px;
      overflow: hidden;
      border-radius: 15px;
      border: 0.1px solid #fff;
      color: #fff;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      &:active {
        transform: scale(1.05);
      }
      & div {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left: 17px;
        height: 42px;
        width: 35%;
        color: #fff;
        border-right: 0.1px solid #fff;
        backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.032);
        box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      }
      & img {
        width: 20px;
        height: 20px;
      }
      & > span {
        width: 63%;
        font-size: 10px;
        padding-right: 17px;
      }
    }
  }
}
