.wrapper {
  font-family: "Involve", sans-serif;
  & .title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 25px 0px;
    padding-left: 10px;

    & p {
      margin-bottom: 0;
      font-size: 20px;
    }
  }
  & img {
    width: 24px;
  }
  & p {
    color: var(--color-white);
    font-size: 16px;
  }
}
