.profil {
  font-family: "Involve", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 25px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: 25.33px;
  margin-bottom: 22px;
}
