.modal {
  border-radius: 50px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  animation-name: modal;
  animation-duration: .4s;

  @keyframes modal {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    z-index: -5;
  }

  & .close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 4;
    width: 20px;
    height: 20px;
  }
}
