.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .user-info {
    display: flex;
    align-items: center;
    gap: 9.41px;
    & .user {
      display: flex;
      align-items: center;
      padding: 4px 5px;
      gap: 6px;
      & img {
        width: 16.26px;
        height: 16.26px;
      }
    }
    & .cub {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 27px;
      & img {
        width: 19.29px;
        height: 15.22px;
      }
    }
    & .cub,
    & .user {
      min-height: 27px;
      border: 1px solid var(--border-color);
      position: relative;
      border: 1px solid var(--border-color);
      border-radius: var(--border-8px);
      overflow: hidden;
      &::before {
        position: absolute;
        content: "";
        inset: 0;
        filter: blur(10px);
        background-color: rgb(23 26 30 / 90%);
        box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
        z-index: -1;
      }
    }
  }

  & .item {
    display: flex;
    align-items: center;
    gap: 9.6px;
  }
}
