.wrapper {
  margin: 32px 0px;
  padding: 0px 10px;
  position: relative;
  .chart {
    position: relative;
    z-index: 1;
  }
  img {
    position: absolute;
    top: calc(50% + 38px);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
  }
}
