.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  margin-bottom: 15px;
  gap: 45px;

  & .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;

    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--border-8px);
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      filter: blur(10px);
      background-color: rgb(23 26 30 / 90%);
      box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
      z-index: -1;
    }
  }
}
