.plan-carousel {
  font-family: "Involve", sans-serif;
  position: relative;
  margin-bottom: 27px;
  & .title {
    margin: 25px 0px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
  }
  & .plan-items {
    overflow: auto;
  }
}
