.farm {
  font-family: "UltramonoWide", sans-serif;
  font-size: 14.83px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  border-radius: var(--border-8px);
  & span {
    background: linear-gradient(
      90deg,
      rgb(48, 104, 208) 0%,
      rgb(131, 107, 175) 50%,
      rgb(151, 130, 98) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
