@import url(./fons.css);
@import url(./reset.css);

:root {
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
  font-size: 16px;
  font-weight: normal;
  background: url("/public/images/backgraund.png");
  overflow: auto;

  --color-bg: #1c1f24;
  --color-white: #ffffff;
  --color-primary: #ff5a30;
  --color-menu: #34353a;
  --color-success: #03cea4;
  --color-warning: #ffd370;
  --color-warning-black: #ffbe2d;
  --color-gray: #5e5e5e;
  --color-gray-text: #9d9d9d;
  --color-card: #41454b;
  --border-8px: 8.58px;
}

body {
  overflow: hidden;
}

a {
  color: var(--color-white);
}

/* a.active {
  background-color: var(--color-bg);
} */

a.active > span {
  color: var(--color-primary);
}

img {
  width: 100%;
}

button {
  border-radius: var(--border-8px);
  background-color: var(--color-menu);
  border: none;
  padding: 4px 8px;
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  color: var(--color-white);
}

._link_4a8qi_4.active {
  color: var(--color-menu);
}
