@import url(./fons.css);
@import url(./reset.css);

:root {
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
  font-size: 16px;
  font-weight: normal;
  background-color: var(--color-bg);
  height: 100vh;

  --color-bg: #1c1f24;
  --color-white: #ffffff;
  --color-primary: #ff5a30;
  --color-menu: #34353a;
  --color-success: #03CEA4;
  --border-8px: 8px;
}

a {
  color: var(--color-white);
}

a.active {
  color: var(--color-primary);
  background-color: var(--color-bg);
}

a.active svg path {
  fill: var(--color-primary);
}

img {
  width: 100%;
}

button {
  border-radius: var(--border-8px);
  background-color: var(--color-menu);
  border: none;
  padding: 4px 8px;
  color: var(--color-white);
  font-weight: bold;
}