.btn-friends {
  position: relative;
  overflow: hidden;
  border-radius: 17.11px;
  background-color: transparent;
  min-width: 250px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 0px;
  margin: 0px auto 16px;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    z-index: -1;
  }
  & .coin-img {
    width: 28px;
  }
  & span {
    font-family: "Bicubik", sans-serif;
    font-size: 16.49px;
    background: linear-gradient(
      90deg,
      rgb(48, 104, 208) 0%,
      rgb(131, 107, 175) 50%,
      rgb(151, 130, 98) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:active {
    transform: scale(1.05);
  }
}
