.wrapper {
  border-radius: var(--border-8px);
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0px 0px 20px 0px var(--color-primary);
  padding: 10px;
  margin-bottom: 30px;
  background-color: var(--color-bg);
}
