.earn {
  position: relative;
  margin: 0px 12px 0px 12px;
  height: calc(100vh - 88.8px);
  border-top-left-radius: 25.33px;
  border-top-right-radius: 25.33px;
  border: 1px solid var(--border-color);
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    border-top-left-radius: 25.33px;
    border-top-right-radius: 25.33px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    z-index: -2;
  }
  & .wrapper-top {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 25.33px;
    border: 1px solid var(--border-color);
    overflow: auto;
    padding: 9px 20px;
    & .category {
      min-width: 32px;
    }
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 25.33px;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -2;
    }
    & .link-wrapper {
      overflow: auto;
      & .link {
        padding: 5px;
        border-radius: var(--border-8px);
        color: var(--color-white);
        width: 100%;
        text-align: center;
        &.active-link {
          color: var(--color-menu);
          background-color: var(--color-white);
          padding: 5px;
          border-radius: var(--border-8px);
        }
      }
    }
  }
}
