.wrapper {
  position: relative;
  border: 1px solid var(--border-color);
  border-top-left-radius: 23.96px;
  border-top-right-radius: 23.96px;
  overflow: hidden;
  flex-shrink: 0;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    border-top-left-radius: 25.33px;
    border-top-right-radius: 25.33px;
    z-index: -1;
  }
  & .info,
  & .info-price {
    height: 34px;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      max-width: 74px;
      width: 100%;
      text-align: center;
      & img {
        width: 18px;
      }
    }
  }
  & .info {
    font-family: "Involve", sans-serif;
    font-size: 10px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
    & span {
      max-width: 74px;
    }
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(40px);
      border-top-left-radius: 25.33px;
      border-top-right-radius: 25.33px;
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
  }
  & .info-price {
    font-family: "Bicubik", sans-serif;
    font-size: 12px;
    border-top: 1px solid var(--border-color);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      inset: 0;

      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
  }
  & .chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
    & .item {
      max-width: 74px;
      height: 100%;
    }
    & .counter {
      font-family: "Bicubik", sans-serif;
      font-size: 11.12px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      top: 60%;
      left: 0;
      right: 0;
      transform: translateY(-60%);
      padding: 0px 20px 10px 20px;
      & span {
        min-width: 74px;
        text-align: center;
      }
    }
  }
}
.info-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 8px;

  & div {
    min-width: 74px;
    text-align: center;
  }
}
.modal-content {
  font-family: "Involve", sans-serif;
  padding: 26px 0px;
  & .ruler-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    & img {
      width: 45px;
    }
    & .ruler-title {
      font-size: 20px;
    }
    & .ruler-desc {
      font-size: 14px;
      max-width: 240px;
      text-align: center;
      margin-bottom: 19px;
    }
  }
  & .ruler {
    position: relative;
    max-width: 270px;
    margin: 0px 15px 32px;
    & .ruler-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 27px;
      border-radius: 5px;
      border: 1px solid #fff;
      background-color: #836baf;
      width: 100%;
      height: 25px;
      padding: 0 23px;
      & .target-line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 40px;
        background-color: #413160;
        z-index: 1;
      }
      & span {
        width: 1px;
        height: 80%;
        background-color: #fff;
      }
    }
    & .ruler-procent {
      position: absolute;
      left: -7px;
      right: -7px;
      bottom: -10px;
      display: flex;
      align-items: center;
      gap: 14.5px;
      & span {
        color: #c1a130;
        display: block;
        font-size: 7px;
        width: 16px;
      }
    }
  }
  & div .doc {
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 14px;
    max-width: 240px;
  }
}
