.info {
  position: relative;
  font-family: "Bicubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  height: 48px;
  padding: 5px 20px;
  .chart-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  .button-left,
  .button-right {
    width: 40px;
    height: 41px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  .button-right {
    transform: rotate(180deg);
  }
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    & img {
      width: 24px;
    }
  }
}
