.state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 8px 6px;
  height: 100%;
  width: 100%;

  border: 1px solid var(--border-color);
  position: relative;
  border-radius: var(--border-8px);
  overflow: hidden;

  & .name,
  & .procent,
  & .time {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  & .procent,
  & .time {
    gap: 4px;
    padding: 6px 2px;
    border-radius: 8.58px;
    position: relative;
    overflow: hidden;
    width: 33%;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
  }
  & .name {
    font-size: 10px;
    font-weight: bold;
    & img {
      width: 23px;
      height: 23px;
    }
  }
  & .time {
    & img {
      width: 9px;
      height: 9px;
    }
  }
  & .procent span:nth-child(2) {
    color: #ffffff7a;
  }
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    z-index: -1;
  }
}
