.navigation {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25.33px;
  margin: 20px;
  & .carousel {
    overflow: auto;
    margin-left: 38px;
    & .category {
      position: absolute;
      top: 24px;
      left: 12px;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
    }
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 28px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    z-index: -1;
  }
}
