.wrapper {
  position: relative;
  width: 100%;
  & > .buy, 
  & > .sell {
    position: absolute;
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      gap: 5px;
      font-weight: 600;
    }
  }
  & .buy {
    bottom:30px;
    right: 10px;
  }
  & .sell {
    top: 30px;
    left: 10px;
  }
  & .iPhone {
    max-width: 180px;
    margin: 0 auto;
  }
  & a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}