.gift-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  & .task {
    text-align: center;
    font-size: 16px;
  }
  & .price-task {
    display: flex;
    align-items: center;
    gap: 5px;
    & .coin-img {
      max-width: 15px;
    }
    & span {
      font-family: "Bicubik", sans-serif;
      font-size: 13px;
      background: linear-gradient(
        90deg,
        rgb(48, 104, 208) 0%,
        rgb(131, 107, 175) 50%,
        rgb(151, 130, 98) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
