.info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;

  box-shadow: inset 0px 0px 6px 1px #ffffff14;
  background-color: #1b1b1bd4;
  border-radius: var(--border-8px);
  &::before {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(
      90deg,
      rgba(40, 45, 103, 1) 0%,
      rgba(83, 73, 84, 1) 50%,
      rgba(65, 49, 96, 1) 100%
    );
    border-radius: var(--border-8px);
    z-index: -1;
  }
}
