.info {
  display: flex;
  flex-direction: column;
  min-width: 73.39px;
  gap: 3px;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 3px 7px;
  & span:nth-child(2) {
    font-family: "Bicubik", sans-serif;
    font-size: 10px;
  }

  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-8px);
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    filter: blur(10px);
    background-color: rgb(23 26 30 / 90%);
    box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
    z-index: -1;
  }
}
