.wrapper {
  position: relative;
  margin: 0px 12px 0px 12px;
  padding-bottom: 120px;
  height: 100%;
  border-top-left-radius: 25.33px;
  border-top-right-radius: 25.33px;
  border: 1px solid var(--border-color);
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    border-top-left-radius: 25.33px;
    border-top-right-radius: 25.33px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.032);
    box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
    z-index: -2;
  }
  & .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 44px 0px 24px 0px;
    position: relative;
    & .star {
      position: absolute;
      top: -40px;
      animation-name: star;
      animation-duration: 0.4s;
    }
    & .friends-img {
      max-width: 77px;
      animation-name: friends-img;
      animation-duration: 0.4s;
    }
    & h2 {
      font-size: 29px;
      font-family: "Involve", sans-serif;
      animation-name: title;
      animation-duration: 0.4s;
    }
    @keyframes friends-img {
      0% {
        transform: translateY(-50px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    @keyframes star {
      0% {
        top: -140px;
      }
      100% {
        top: -40px;
      }
    }
    @keyframes title {
      0% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  & .btn-friends {
    position: relative;
    overflow: hidden;
    border-radius: 17.11px;
    background-color: transparent;
    min-width: 250px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 0px;
    margin: 0px auto 16px;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
    & .coin-img {
      width: 28px;
    }
    & span {
      font-family: "Bicubik", sans-serif;
      font-size: 16.49px;
      background: linear-gradient(
        90deg,
        rgb(48, 104, 208) 0%,
        rgb(131, 107, 175) 50%,
        rgb(151, 130, 98) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:active {
      transform: scale(1.05);
    }
  }
  & .invite-friends {
    padding: 0px 22px;
    margin-bottom: 17px;
    & .title {
      display: block;
      font-family: "Involve", sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: #c1a130;
      text-align: center;
      margin-bottom: 10px;
    }
    & .invite-wrapper {
      margin: 0px auto;
      padding: 8px 12px;
      position: relative;
      border-radius: 17.11px;
      overflow: hidden;
      &::before {
        position: absolute;
        content: "";
        inset: 0;
        backdrop-filter: blur(40px);
        background-color: rgba(255, 255, 255, 0.032);
        box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
        z-index: -2;
      }
      & > span {
        display: block;
        font-family: "Involve", sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #c1a130;
        text-align: center;
      }
      & .gift {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .gift-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          & .task {
            text-align: center;
            font-size: 16px;
            font-family: "Involve", sans-serif;
          }
          & .price-task {
            display: flex;
            align-items: center;
            gap: 5px;
            & .coin-img {
              max-width: 15px;
            }
            & span {
              font-family: "Bicubik", sans-serif;
              font-size: 13px;
              background: linear-gradient(
                90deg,
                rgb(48, 104, 208) 0%,
                rgb(131, 107, 175) 50%,
                rgb(151, 130, 98) 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
  & .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 250px;
    margin: 0px auto 19px;
    & button {
      position: relative;
      border-radius: 12.83px;
      border: 1px solid var(--border-color);
      font-family: "UltramonoWide", sans-serif;
      font-size: 14.83px;
      background-color: transparent;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      &:active {
        transform: scale(1.05);
      }
      &::before {
        position: absolute;
        content: "";
        inset: 0;
        border-radius: 12.83px;
        backdrop-filter: blur(40px);
        background-color: rgba(255, 255, 255, 0.032);
        box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
        z-index: -2;
      }
    }
    & button:nth-child(1) {
      min-width: 74%;
      min-height: 34px;
    }
    & button:nth-child(2) {
      min-width: 34px;
      min-height: 34px;
      padding: 10px;
    }
  }
}
