.wrapper-top,
.wrapper-bottom {
  margin: 0px 12px;
  & .wrapper-title {
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    font-size: 15.4px;
  }
  & .wrapper-text {
    font-family: "Involve", sans-serif;
    font-size: 11.98px;
    display: block;
    color: var(--color-gray-text);
    text-align: center;
    margin-bottom: 10px;
  }
  & .invite {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .invite-item {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      position: relative;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      overflow: hidden;
      &::before {
        position: absolute;
        content: "";
        inset: 0;
        filter: blur(10px);
        background-color: rgba(23, 26, 30, 0.9);
        box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
        z-index: -1;
      }
      & img {
        width: 35px;
        height: 35px;
      }
      & .ivent-title {
        display: block;
        font-size: 11.12px;
        color: var(--color-white);
        text-align: left;
        margin-bottom: 12px;
      }

      & div {
        width: 100%;
      }

      & .ivent-text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        & div {
          display: flex;
          align-items: center;
          gap: 5px;
          flex-shrink: 0;
          margin: 0;
          color: var(--color-warning);
          background: linear-gradient(
            90deg,
            rgb(48, 104, 208) 0%,
            rgb(131, 107, 175) 50%,
            rgb(151, 130, 98) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        & img {
          width: 15px;
          height: 15px;
        }
      }
    }
    & .invite-item:active {
      transform: scale(0.99);
    }
  }
}
.wrapper-top {
  position: relative;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top-left-radius: 25.33px;
  border-top-right-radius: 25.33px;
  overflow: hidden;
  margin-top: 20px;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    filter: blur(10px);
    background-color: rgba(23, 26, 30, 0.9);
    box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
    z-index: -1;
  }
}
.wrapper-bottom {
  position: relative;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    filter: blur(10px);
    background-color: rgba(23, 26, 30, 0.9);
    box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
    z-index: -1;
  }
}
