.wrapper {
  margin-bottom: 82.6px;margin-bottom: 82.6px;
  & .button {
    width: 120px;
    height: 40px;
    background-color: var(--color-success);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 32px auto;
    font-size: 17px;
    & div {
      width: 20px;
      height: 20px;
      border: 2px solid var(--color-white);
      border-radius: 50px;
    }
  }
  & .coin-wrapper {
    border-radius: var(--border-8px);
    border-top: 1px solid var(--color-warning);
    border-bottom: 1px solid var(--color-warning);
    box-shadow: 0px 0px 20px 0px var(--color-warning);
    padding: 32px 0px;
  }
}
