.wrapper {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 15px;
  & .count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
    & img {
      max-width: 30px;
    }
    & span {
      font-size: 30px;
    }
  }
  & .farm {
    height: 50px;
    position: relative;
    & .button {
      width: 100%;
      height: 50px;
      color: var(--color-bg);
      text-transform: uppercase;

      position: relative;
      box-shadow: inset 0px 0px 58.67px 0px rgba(255, 255, 255, 0.137254902);
      border-radius: var(--border-8px);

      &::before {
        position: absolute;
        content: "";
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(
          90deg,
          rgb(40, 45, 103) 0%,
          rgb(83, 73, 84) 50%,
          rgb(65, 49, 96) 100%
        );
        border-radius: var(--border-8px);
        z-index: -1;
      }
      & span {
        font-size: 20px;
        font-weight: normal;
        background: linear-gradient(
          90deg,
          rgb(48, 104, 208) 0%,
          rgb(131, 107, 175) 50%,
          rgb(151, 130, 98) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
