.task {
  margin: 0px 12px;
  position: relative;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    filter: blur(10px);
    background-color: rgba(23, 26, 30, 0.9);
    box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
    z-index: -1;
  }
  & .swaiper {
    padding: 10px;
    width: 100%;
  }
  & .swaiper-items {
    position: relative;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      filter: blur(10px);
      background-color: rgba(23, 26, 30, 0.9);
      box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
      z-index: -1;
    }
  }
}

.title {
  font-family: "Involve", sans-serif;
  font-size: 11.98px;
  display: block;
  padding-left: 10px;
  padding: 10px 0px;
  font-weight: bold;
  text-align: center;
}

.task-item {
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  & img {
    width: 35px;
    height: 35px;
  }
  & .task-title {
    font-family: "UltramonoWide", sans-serif;
    font-size: 11.12px;
    color: var(--color-white);
    text-align: left;
    display: block;
  }

  & div {
    width: 100%;
  }

  & .task-text {
    font-family: "Bicubik", sans-serif;
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    & span {
      margin: 0;
      background: linear-gradient(
        90deg,
        rgb(48, 104, 208) 0%,
        rgb(131, 107, 175) 50%,
        rgb(151, 130, 98) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & img {
      width: 15px;
      height: 15px;
    }
  }
  & .task-wrapper {
    font-family: "Bicubik", sans-serif;
    display: flex;
    align-items: center;
    & span {
      color: var(--color-white);
    }
    & .task-line {
      position: relative;
      width: 100%;
      height: 7px;

      & div {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30%;
        height: 7px;
        background-color: var(--color-warning);
        border-radius: var(--border-8px);
      }
    }
  }
}
