.wrapper {
  padding: 12px;
  position: relative;
  height: 100vh;
  & .main {
    margin-top: 20px;
    height: calc(100% - 105px);

    position: relative;
    border: 1px solid var(--border-color);
    border-top-left-radius: 25.33px;
    border-top-right-radius: 25.33px;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      filter: blur(10px);
      background-color: rgb(23 26 30 / 90%);
      box-shadow: inset 0px 0px 17.11px 0px hsla(0, 0%, 100%, 0.19);
      z-index: -1;
    }
  }
}
