.wrapper {
    height: 88vh;
    margin: 0px 12px;

    position: relative;
    border: 1px solid var(--border-color);
    border-top-left-radius: 25.33px;
    border-top-right-radius: 25.33px;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.032);
      box-shadow: inset 0px 0px 50.11px 0px rgba(255, 255, 255, 0.032);
      z-index: -1;
    }
  }

